asgiref==3.11.1
bleach==6.3.0
Django==6.0.3
joblib==1.5.3
numpy==2.4.4
pillow==12.2.0
scikit-learn==1.8.0
scipy==1.17.1
sqlparse==0.5.5
threadpoolctl==3.6.0
tinycss2==1.5.1
tzdata==2025.3
webencodings==0.5.1
google-genai==1.74.0
python-dotenv==1.2.2
google-generativeai==0.8.6
pydantic==2.13.3
